:root {
	color-scheme: light dark;
}

* {
	padding: 0;
	margin: 0;
	background-color: #010326;
}

body {
	font-family: 'Jura', sans-serif;
	display: grid;
	height: 100vh;
	grid-template-rows:
		min-content
		1fr
		min-content;
	row-gap: 3vh;
}

.header {
	display: flex;
	flex-direction: column;
	padding-top: 1vh;
	place-items: center;
	justify-content: center;
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, #010326, #F2F2F2, #F2F2F2, #010326) 47% 0%;
}

.logo {
	height: 13vmax;
	width: auto;
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, #010326, #B9151E, #B9151E, #010326) 47% 0%;
}

h1 {
	color: #F2F2F2;
	font-size: 4vmax;
	text-align: center;
	font-weight: 700;
	padding-top: 4vmin;
	padding-bottom: 2vmin;
}

.main {
	color: #F2F2F2;
	display: flex;
	flex-direction: column;
	row-gap: 3vh;
	place-items: center;
	justify-content: center;
}

.day {
	font-size: 3vmax;
	font-weight: lighter;
}

.dayDate {
	font-size: 3vmax;
}

.timeDate {
	color: #B9151E;
	text-shadow: 3px 3px #F2F2F2;
	font-size: 10vmax;
}

.timeDate small {
	font-size: 5vmax;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: #F2F2F2;
	font-size: 2.5vmin;
	text-align: center;
	padding-bottom: 5vh;
}

.address {
	font-style: normal;
}